/*color and fonts*/

head{
	font-family: 'Kanit', sans-serif; 
}
body{
 	background: white;
	color: black;
	font-family: 'Kanit', sans-serif; 
	
}	


h1, h2, h3{

	background:#c19c5f;
	color: black;
	font-family: helvetica;

	font-weight: lighter;
}

a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

a:hover {
	color: ghostwhite  ;
}



/* Custom design with class */

.container{
	

	width: 1150px;
		margin: 40px auto;
	
}

.img-circle{
	border-radius:3px
}
.shadowed{
	box-shadow: 10px 10px 10px #b3bca2;
}

#leader{
	border:0px solid ghostwhite;
	width:200px;
}
.img-circle{
	border-radius: 0.5%;

}



	.card-white{
	
		padding: 100px;
		margin: 30px auto;
		width: 950px;
		box-shadow: 0px 10px 30px rgba(30,80,100);
		text-align:center;
		border-radius: 4px;
			}

	

	.img-circle{

		border-radius: 50%;
	}

	.btn-orange{
		background-color:#c19c5f;
		color: black;
		padding: 15px 20px;
	}

	.btn-orange:hover {
		background-color: whitesmoke;
		color:black;
	}

	

	.list-inline li{
		display: inline;
		padding:5px;
       font-size:30px;
 	 padding-left:0px;
 	 text-align: center;
	}

	.list-inline i:hover {
		
		font-size: 50px;
		transition:color 0.25s;
		
	}


	@media (max-width: 960px) {

	.container {
		width:700px;
	}
	}


	@media (max-width: 720px) {

	.container {
		width:500px;
	}
	}	

	@media (max-width: 540px) {

	.container {
		width:300px;
	}
	}	

/* Design adjustment */

	#introduction p {
		margin-bottom: 60px;
	}

	#intro p {
		margin-bottom: 40px;
	}

	
